@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 920px;
  background-color: white;
  border-radius: 14px;
  position: relative;
  font-size: 13px;
}

.box {
  position: absolute;
  z-index: 2;
  top: 187px;
  left:-92px;
}

.faqs {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 55px 0;
}

.faq__back {
  position: absolute;
  top: -294px;
  left: -578px;
}

.faq__woman {
  position: relative;
  left: -84px;
  height: 100%;
}

h1 {
  margin-bottom: 13px;
}

section {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

button {
  border: none;
  text-decoration: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  width: 350px;
}

button p {
  display: none;
  padding-bottom: 18px;
  text-align: start;
  color: hsl(240, 6%, 50%);
}

.Q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.Q img {
  height: 100%;
}

.Q:active {
  color: hsl(14, 88%, 65%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}